@media all and (min-width: 480px) {
  .Connect {
    /* padding: 60px 0; */
  }

  .Connect form {
    /* margin: 0; */
    max-width: 320px;
    display: block;
    padding: 15px;
  }

  .connectTitle {
    padding: 15px;
  }

  .connectAllContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  
}

/* .linkedIn {
  color: #266150;
} */


.inputBoxes {
  /* background-image: linear-gradient(to right, #164A41, #4D774E); */
  border-bottom-style: hidden;
  border-color: black;
  border-radius: 0px;
}

.messageInput {
   /* background-image: linear-gradient(to right, #164A41, #4D774E); */
   /* border-bottom-style: hidden; */
   border-color: black;
   border-radius: 0px; 
}

.submitBox {
  /* background-image: linear-gradient(to right, #164A41, #4D774E); */
  background-color: white;
  border-top-style: hidden;
  border-color: black;
  border-radius: 0px;
  color: gray;
}

.submitBox:hover {
  background: white;
  color: gray;
  transform: translateY(3px);
  border-color: black;
  background-color: white;
}



.hex {
  float: left;
  margin-left: 3px;
  margin-bottom: -26px;
}
.hexTop {
  width: 0;
  border-bottom: 30px solid black;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hexMiddle {
  width: 104px;
  height: 60px;
  background: black;
  text-align: center;
}
.hexBottom {
  width: 0;
  border-top: 30px solid black;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex-row {
  clear: left;
}
.hex-row.even {
  margin-left: 53px;
}

/* .hex.even .hexMiddle {
  clear: left;
}



.secondRow.hexMiddle {
  width: 110px;
  height: 60px;
  background: yellow;
  text-align: center;
} */

.tree a {
  font-size: 30px;
}


a {
  color: #266150;
}

a:hover {
  text-decoration: none;
  color: #4D774E;
}

.Icon {
  background-size: 10rem 10rem
}