@media all and (min-width: 480px) {

  .portfolio {
    background: linear-gradient(90deg, #A3BCB6 30%, #164A41 30%);
  }
 
  .mainPortfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: 20rem;
    grid-gap: 50px;
    grid-auto-flow: dense; */
  }

  .card-img-top{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    transition: transform 1s;
   } 

  .card {
    border-style: solid;
    border-color: black;
    border-width: medium;
    border-radius: 0px;
    margin: 10%;
    /* position: absolute; */
  }

  .square {
    opacity: 0;
    transform-origin: 0 0;
    cursor: pointer;
  }

  /* .card back {
    background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);

  } */

} 






















 /* .projects--full {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px;
    grid-gap: 10px;
  }

  .projects--big-columns {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }

  .projects--big-gap {
    grid-gap: 2.5rem;
  } */

  /* .card--expanded {
    grid-column: span 3;
    grid-row: span 3;
  }
  
  .button:hover {
    background-color: hsla(0, 0%, 83%, 0.05);
  }
  button:focus {
    box-shadow: 0 0 0 3px #7396e4;
    outline: none;
  } */