body {
  /* margin: 0; */
  /* padding: 0;  */
  /* color: #266150; */
  font-size: 16px;
  font-family: "Abril Fatface", cursive;
  -webkit-font-smoothing: antialiased;
  /* background-image: linear-gradient(to right, #164A41, #4D774E); */
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}
input[type="file"] {
  width: 100%;
}

.nameTop {
  color: #f8f8ff;
}

/* .appContainer {
  background-color: #dfa8a4;
  background: linear-gradient(90deg, #dfa8a4 30%, white 30%);
  z-index: -2;
} */
a {
  color: #266150;
}

a:hover {
  text-decoration: none;
  color: #4d774e;
}

.Icon {
  background-size: 10rem 10rem;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* background: linear-gradient(270deg, #dfa8a4 70%, white 70%); */
  background: linear-gradient(270deg, #164a41 70%, #a3bcb6 70%);
  margin-bottom: 0px !important;
  position: sticky;
  top: 0;
  /* opacity: 0.8; */
  z-index: 99998;
  transition: 0.3s all;
  /* padding: 0px !important; */
  padding: 18px;
  /* box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); */
  border-bottom: 2px solid #f8f8ff;
}

.rightNavbar {
  color: white !important;
}

.homeLink {
  padding-right: 40px !important;
  padding-top: 35px !important;
  color: #f8f8ff !important;
}

.homeLink:hover {
  text-decoration: underline;
  text-decoration-color: #e4c287;
  text-decoration-thickness: 2px;
  /* text-decoration-style: dotted; */
  text-decoration-style: wavy;
  text-underline-offset: 0.4em;
  /* text-decoration-skip: ink; */
  /* transition-delay: 0.25s; */
  /* transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease; */
}
.aboutLink {
  padding-right: 40px !important;
  padding-top: 35px !important;
  color: #f8f8ff !important;
}
.aboutLink:hover {
  text-decoration: underline;
  text-decoration-color: #e4c287;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-underline-offset: 0.4em;
}
.portfolioLink {
  padding-right: 40px !important;
  padding-top: 35px !important;
  color: #f8f8ff !important;
}
.portfolioLink:hover {
  text-decoration: underline;
  text-decoration-color: #e4c287;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  /* text-underline-offset: 0.4em; */
}
.connectLink {
  padding-right: 12px !important;
  color: white !important;
  padding-top: 25px !important;
  /* padding-bottom: -22px !important; */
  /* padding-left: -8px !important; */
  transform: rotate(20deg);
  text-align: center;
}

/* .connectLink:hover {
   transition: 0.1s;
  transform: rotate(14deg); 
  text-decoration: underline;
  text-decoration-color: #164A41;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
} */

.circle {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background-color: #a3bcb6;
  padding-right: -20px !important;
  padding-top: -20px;
  /* white-space: nowrap; */
}

.circle:hover {
  background-color: #e4c287;
}

/* 
.leftNavbar {
  background-image: linear-gradient(to right, #164A41, #84b184, white);
  padding-left: 190px;
  margin-left: -200px;
  margin-top: -20px;
  padding-top: 20px;
  margin-bottom: -20px;
  padding-bottom: 20px;
} */

/* .navName {
  background: linear-gradient( #A3BCB6 70%, #e4c287 30%);
} */

/* .navbar-brand {
  backgroun
} */

/* .grid {
  background-color: red;
} */
